@model Passion_Project.Models.ClassDto

@{
    ViewBag.Title = "Class Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="text-muted">Class Details: @Model.ClassName</h2>
        </div>
        <div class="col-auto">
            <a href="/StudioClass/List" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i> Back To Classs</a>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title text-muted">Class Information</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Studio:</strong> @Model.StudioName</li>
                <li class="list-group-item"><strong>Class:</strong> @Model.ClassName</li>
                <li class="list-group-item"><strong>Schedule:</strong> @Model.Schedule/li>
                <li class="list-group-item"><strong>Duration:</strong> @Model.Duration</li>
                <li class="list-group-item"><strong>Price:</strong> $ @Model.Price /per Duration</li>
                <li class="list-group-item"><strong>Status:</strong> @Model.Status</li>
            </ul>
        </div>
    </div>
</div>a